In [1]:
import pandas as pd 
#pandas is for data structures and data analysis tools
import numpy as np
#numpy is for scientific computing
import matplotlib.pyplot as plt
#matplotlib is for plotting
from ipywidgets import interact
%matplotlib inline

In [2]:
data = pd.read_csv('http://opendata.cern.ch/record/545/files/Dimuon_DoubleMu.csv')
data.head()

,Run,Event,type1,E1,px1,py1,pz1,pt1,eta1,phi1,...,type2,E2,px2,py2,pz2,pt2,eta2,phi2,Q2,M
0,165617,74601703,G,9.6987,-9.5104,0.3662,1.8633,9.5175,0.1945,3.1031,...,G,9.7633,7.3277,-1.1524,6.3473,7.4178,0.7756,-0.1560,1,17.4922
1,165617,75100943,G,6.2039,-4.2666,0.4565,-4.4793,4.2910,-0.9121,3.0350,...,G,9.6690,7.2740,-2.8211,-5.7104,7.8019,-0.6786,-0.3700,1,11.5534
2,165617,75587682,G,19.2892,-4.2121,-0.6516,18.8121,4.2622,2.1905,-2.9881,...,G,9.8244,4.3439,-0.4735,8.7985,4.3697,1.4497,-0.1086,1,9.1636
3,165617,75660978,G,7.0427,-6.3268,-0.2685,3.0802,6.3325,0.4690,-3.0992,...,G,5.5857,4.4748,0.8489,-3.2319,4.5546,-0.6605,0.1875,1,12.4774
4,165617,75947690,G,7.2751,0.1030,-5.5331,-4.7212,5.5340,-0.7736,-1.5522,...,G,7.3181,-0.3988,6.9408,2.2825,6.9523,0.3227,1.6282,1,14.3159

In [3]:
#these will be replaced by the values from the peak finding
igetthesevalues = [0.78, 3, 9.4, 91]

In [4]:
#read the particle listing 
df = pd.read_csv('https://raw.githubusercontent.com/cms-opendata-education/scool-lab-sc18-opendata/master/particlelist.csv')
print(df)
#and for practical reasons set the particle name as index
df2 = df.set_index("Particle", drop = False)
print(df2)

    Unnamed: 0    Mass Particle
0            0   0.550        η
1            1   0.775        ρ
2            2   0.782        ω
3            3   0.500       K°
4            4   1.860       D⁰
5            5   1.020        ϕ
6            6   5.280       B⁰
7            7   5.370       B⁰
8            8   3.010      J/ψ
9            9   3.690        ψ
10          10   4.190        ψ
11          11   9.400        η
12          12   9.460        Y
13          13  10.020        Y
14          14  10.360        Y
15          15  91.200        Z
          Unnamed: 0    Mass Particle
Particle
η                  0   0.550        η
ρ                  1   0.775        ρ
ω                  2   0.782        ω
K°                 3   0.500       K°
D⁰                 4   1.860       D⁰
ϕ                  5   1.020        ϕ
B⁰                 6   5.280       B⁰
B⁰                 7   5.370       B⁰
J/ψ                8   3.010      J/ψ
ψ                  9   3.690        ψ
ψ                 10   4.190        ψ
η                 11   9.400        η
Y                 12   9.460        Y
Y                 13  10.020        Y
Y                 14  10.360        Y
Z                 15  91.200        Z

In [5]:
def f(n):
    mypeak = igetthesevalues[n]
    myerror = .01*mypeak
    myparticle = df2.loc[(df2['Mass']  < mypeak + myerror) & (df2['Mass']  > mypeak - myerror) ]
    #print(myparticle['Particle'][0])
    print('This particle can be', myparticle['Particle'][0], ' with mass of ', df2.loc[myparticle['Particle'][0],'Mass'], 'GeV/c2')
    #print(myparticle['Mass'])
    #print('Mass is:', myparticle['Mass'])
    myrange = .1*mypeak
    plt.hist(data.M, bins=100, range=(mypeak-myrange,mypeak+myrange))
    plt.show()
interact(f,n=(0,3))